<p id="notice"><%= notice %></p>

<h1>Listing Individials</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Weight</th>
      <th>Height</th>
      <th>Color</th>
      <th>Education</th>
      <th>Nationality</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @individials.each do |individials| %>
      <tr>
        <td><%= individials.name %></td>
        <td><%= individials.weight %></td>
        <td><%= individials.height %></td>
        <td><%= individials.color %></td>
        <td><%= individials.education %></td>
        <td><%= individials.nationality %></td>
        <td><%= link_to 'Show', individials %></td>
        <td><%= link_to 'Edit', edit_individials_path(individials) %></td>
        <td><%= link_to 'Destroy', individials, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Individial', new_individials_path %>
