<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @individial.name %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @individial.weight %>
</p>

<p>
  <strong>Height:</strong>
  <%= @individial.height %>
</p>

<p>
  <strong>Color:</strong>
  <%= @individial.color %>
</p>

<p>
  <strong>Education:</strong>
  <%= @individial.education %>
</p>

<p>
  <strong>Nationality:</strong>
  <%= @individial.nationality %>
</p>

<%= link_to 'Edit', edit_individial_path(@individial) %> |
<%= link_to 'Back', individials_path %>
